{% extends 'base.html.twig' %}

{% block body %}

    {% block title %}{{ parent() }} - Home{% endblock %}
Bem-vindo ao nosso site!

<ul>
    {% for user in users %}
        <li>
                {% if user.name == 'Cachorro' %}
                        >>
                {% endif %}
                Nome: {{ user.name|upper }} - Idade: {{ user.idade }} anos
        </li>
    {% endfor %}
</ul>

{% endblock %}